html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: darkslategray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 250px;
  background-color: white;
  text-align: center;
}

#status {
  text-align: right;
  color: gray;
  padding: 10px 20px 0 0;
}

img {
  border-radius: 50%;
  max-width: 50%;
}

h1, p {
  margin: 0;  
}

h1 {
  padding: 10px 0;
}

#occupation {
  background-color: white;
}

#brand {
  display: inline;
}

#offer {
  padding: 16px 0;
}

#contact {
  display: flex;
}

#contact > p {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact > p:first-child {
background-color: greenyellow;
}

#contact > p:last-child {
background-color: green;
}


@media only screen and (min-width: 650px) {
  main {
    display: grid;
    text-align: left;
    width: 500px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "status name"
      "img occupation"
      "img brand" 
      "contact offer";
  }

  #status {
    text-align: left;  
    padding: 10px 0 0 20px;
  }

  img {
    max-width: 50%;
    grid-area: img;  
    margin: 0 auto;
  }

  #brand {
    display: inline;
  }

  #contact {
    grid-area: contact;
  }


  #brand > p {
    padding: 0 20px 0 10px;
  }

  #offer {
    padding: 10px;
  }

  #name, #occupation, #brand, #offer {
    padding-left: 20px
    background-color: gray;
  }
}